<div class="footer">
    <div class="container">
        <div class="flex">
            <h4>MCSV eCommerce Client</h4>
            <p>
                This web client was created solely for the purpose of MCSV. <br>It is to be used in conjunction with the Inventory Client that was developed together with the microservices.
            </p>
        </div>
        <div class="second">
            <h4>HELP</h4>
            <li><a>Shipping Information</a></li>
            <li>Returns & Exchange</li>
            <li>Terms & Conditions</li>
            <li>Privacy Policy</li>
        </div>
        <div class="flex">
            <h4>Contact Us</h4>
            <p>21 Tampines Ave 1, Singapore 529757</p>
            <p>+65 9769 1883</p>
            <p>1902690E@student.tp.edu.sg</p>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright ©2020 All rights reserved</p>
    </div>
</div>